{:print-led {:type :analog
             :pin D1
             :initial-value {:value 0.1 :freq 10}}
 :some-pin {:type :digital
            :pin D2
            :initial-value 1}
 :hackerhud.vfd/serial {:type :serial
                        :tx D10
                        :rx D12
                        :baud 9600}
 :my-i2c {:type :i2c
          :sda D3
          :scl D5}}
